<div class="container">
    <!--Sección: Preguntas Frecuentes-->
    <section>
        <h3 class="text-center mb-4 pb-2 text-primary fw-bold">Preguntas Frecuentes</h3>
        <p class="text-center mb-5">
            Encuentra las respuestas a las preguntas más frecuentes a continuación
        </p>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> ¿Una pregunta sencilla?</h6>
                <p>
                    <strong><u>¡Por supuesto!</u></strong> Trabajamos con las principales compañías de pago, lo que garantiza 
                    tu seguridad y protección. Toda la información de facturación se almacena en nuestro socio de procesamiento de pagos.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> ¿Una pregunta más larga que la anterior?</h6>
                <p>
                    <strong><u>¡Sí, es posible!</u></strong> Puedes cancelar tu suscripción en cualquier momento desde 
                    tu cuenta. Una vez cancelada, no se te cobrará el próximo mes.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> ¿Una pregunta sencilla?</h6>
                <p>
                    Actualmente, solo ofrecemos suscripción mensual. Puedes actualizar o cancelar tu cuenta en cualquier 
                    momento sin ninguna obligación adicional.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> ¿Una pregunta sencilla?</h6>
                <p>
                    Sí. Ve a la sección de facturación en tu panel de control y actualiza tu información de pago.
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> ¿Una pregunta sencilla?</h6>
                <p><strong><u>Desafortunadamente, no</u>.</strong> No emitimos reembolsos completos ni parciales por ningún motivo.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> ¿Otra pregunta más larga de lo habitual?</h6>
                <p>
                    ¡Por supuesto! Nos complace ofrecer un plan gratuito a cualquier persona que quiera probar nuestro servicio.
                </p>
            </div>
        </div>
    </section>
    <!--Sección: Preguntas Frecuentes-->
</div>