<!-- Subscribe Start
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">¡Suscríbete y recibe
                        promociones!</span></h2>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Tu correo electrónico">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Suscribir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 Subscribe End -->
<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <p class="mb-2">Recuerda:</p>
            <p class="mb-2">“Tu mejor vestido siempre sera tu sonrisa” - Miguel Mateos</p>
            <p class="mb-0" style="padding-top: 10%;">Siguenos en:</p>
            <div class="row">
                <div class="col-md-12 mb-7" style="align-content: center;">
                    <a href="https://www.instagram.com/juliethrboutique/" target="_blank" class="text-primary mr-4">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="https://www.facebook.com/juliethrodriguezboutique" target="_blank"
                        class="text-primary mr-4">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>

                    <a href="https://wa.link/hbw1lf" target="_blank" class="text-primary mr-4">
                        <i class="fab fa-whatsapp fa-2x"></i>
                    </a>

                    

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Estamos ubicados en:</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <p class="mb-2" style="padding-top: 10px;"><i
                                class="fa fa-map-marker-alt text-primary mr-3"></i>MALL Fuente de los Rosales LOCAL 2,
                            Ibagué, Tolima</p>
                        <p class="mb-2"><i
                                class="fa fa-envelope text-primary mr-3"></i>juliet_rodriguez_boutique@gmail.com
                        </p>
                        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+57 310 469 0762</p>
                        <p class="mb-0"> </p>
                        <p class="mb-0"> </p>
                        <p class="mb-0" style="padding-top: 10%;"></i>Consulta nuestros TERMINOS Y CONDICIONES
                        </p>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <a href="" class="text-decoration-none" style="align-content: center; padding-top: 10px;">
                        <div class="mx-auto d-block  card-header product-img position-relative overflow-hidden bg-transparent p-0"
                            style="width: 35%; align-content: center;">
                            <img class="img-fluid w-100" src="/img/Logo_JR.png" alt="">
                        </div>
                    </a>
                    <a href="" class="text-decoration-none" style="align-content: center;">
                        <div
                            class="mx-auto d-block  card-header product-img position-relative overflow-hidden bg-transparent p-0">
                            <h6 class="m-0" style="text-align: center;">Julieth Rodriguez Boutique</h6>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights
                Reserved. Designed
                by
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="/img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="/mail/jqBootstrapValidation.min.js"></script>
<script src="/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>