<nav class="navbar navbar-expand-sm ">



    <!-- Links -->
    <ul class="navbar-nav col-7">
        <!-- Brand -->

        <img class="logo-navbar" src="/img/Logo_JR.png" alt="">

        <!-- Venta -->
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Venta</a>
            <div class="dropdown-menu">
                <a href="/Venta" class="dropdown-item main-link">Ver Todo</a>
                <a href="/Venta/Noche" class="dropdown-item">Noche</a>
                <a href="/Venta/XV_Años" class="dropdown-item">XV Años</a>
                <a href="/Venta/Grado" class="dropdown-item">Grado</a>
                <a href="/Venta/Novia" class="dropdown-item">Novia</a>
                <a href="/Venta/Dama_Honor" class="dropdown-item">Dama de Honor</a>
                <a href="/Venta/Trajes_Caballero" class="dropdown-item">Trajes Caballero</a>
            </div>

        </li>
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
        <!-- Alquiler -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/Alquiler" id="navbardrop" data-toggle="dropdown">
                Alquiler
            </a>
            <div class="dropdown-menu">
                <a href="/Alquiler" class="dropdown-item main-link">Ver Todo</a>
                <a href="/Alquiler/Noche" class="dropdown-item">Noche</a>
                <a href="/Alquiler/XV_Años" class="dropdown-item">XV Años</a>
                <a href="/Alquiler/Grado" class="dropdown-item">Grado</a>
                <a href="/Alquiler/Novia" class="dropdown-item">Novia</a>
                <a href="/Alquiler/Dama_Honor" class="dropdown-item">Dama de Honor</a>
                <a href="/Alquiler/Trajes_Caballero" class="dropdown-item">Trajes Caballero</a>
            </div>
        </li>
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Quienes Somos</a>
        </li>
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
        <li class="nav-item">
            <a class="nav-link" href="/questions">Preguntas Frecuentes</a>
        </li>
    </ul>

    <form class="form-inline col-3 text-right" action="/Buscar" method="GET">
        <input class="form-control mr-sm-2" name="filtro" type="text" placeholder="Buscar">
        <button class="btn custom-btn" type="submit">Buscar</button>
    </form>

    <div class="col-lg-2 col-1 text-left">
        <!-- Botón de Login -->
        <a href="/login" class="btn custom-btn border" title="Iniciar Sesiòn">
            <i class="fas fa-user text-primary"></i> <!-- Ícono de usuario/login -->
        </a>

        <!-- Botón de Carrito -->
        <a href="/shoppingCart" class="btn custom-btn border" title="Carrito de compras">
            <i class="fas fa-shopping-cart text-primary"></i> <!-- Ícono de carrito -->
        </a>
    </div>


</nav>
<br>

<nav class="navbar navbar-expand-sm ">

    <ul class="navbar-nav col-7">


        <img class="logo-navbar" src="/img/Logo_JR.png" alt="">

        <li class="nav-item">
            <a class="nav-link" href="/boutique">Boutique</a>
        </li>
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Productos</a>
        </li>
        <a class="navbar-brand" href="#"></a>
        <a class="navbar-brand" href="#"></a>
        <li class="nav-item">
            <a class="nav-link" href="/pedido">Pedidos</a>
        </li>
    </ul>

    <div class="form-inline col-3 text-right">
    </div>

    <div class="col-lg-2 col-1 text-left">

        <a href="/logout" class="btn custom-btn border" title="Cerrar Sesión">
            <i class="fas fa-sign-out-alt text-primary"></i> 
        </a>


    </div>


</nav>
